.card-box .table-responsive {
  overflow: visible;
}

.img-delete-btn {
	position: absolute;
    right: 0;
    margin: 10px;
    color: white;
}

.img-delete-btn:hover {
	color: #333333;
}

.non-editable-stars span {
	cursor: text !important;
}